.Pokemon-details-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 3rem;
  border-radius: 10px;
  background-color: rgb(180, 120, 236);
}
.img{
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(228, 231, 231);
}
.Pokemon_details{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: #fff;
}
.pokemon_name{
  font-size: 2rem;
}
.pokemon_height{
   font-size: 1.5rem;
}
.pokemon_weight{
   font-size: 1.5rem;
}